.MainBodyContent{
  background-color: whitesmoke;
}
.additionalClassForHead {
	font-size: 16px;
	font-weight: bold; 
	margin-top: 1rem;
	background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion-head:hover {
    background-color: white;
}

.Plus {
  margin-top: -4rem;
  height: 30px;
  float: right;
}

.ApplyNowHeading {
	  height: 15%;
    background: #4d7bf3;
    text-align: left;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 14px;
    font-weight: bold;
}
   

.applyNowModal {
  position: absolute;
  bottom: 0;
  background-color:whitesmoke;
  height: 70%;
  width: 100%;
}

.modal {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.cancelButton {
	width: 30%;
  background: lightgray;
  color: black;
  height: 12%;
  border: none;
  font-size:16px;
}

.submitCancel {
	width: 30%;
  background: #020e36;
  color: white;
  height: 12%;
  border: none;
  font-size:16px;
}

.detail {
	color: grey;
}
input[type=text]{
  width: 100%;
  margin: 10px;
  border: none;
  background: white;
}
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
.InputField{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: none;
  background: white;
}
.ApplyButton{
  background-color: #020e36;
  color: white;
  width: 20%;
  border: none;
}