.MainClass{
	background-color: whitesmoke;
}
input[type=text]{
  width: 50%;
  padding: 15px;
  margin: 20px;
  border: none;
  background: white;
}
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
.inputField{
	width: 50%;
  padding: 15px;
  margin: 20px;
  border: none;
  background: white;
}
.Button{
  width: 50%;
  padding: 15px;
  margin-top: 160px;
  margin-bottom: 0px;
  border: none;
  color: white;
  background-color:  #020e36;
}