.Navbar {
	display: flex;
	flex-direction: row;
	height:60px;
	width: 100%;
	background-color: #00004d;
}
.HeaderIcons{
	width: 25px;
	height: 25px;
	margin: 15px;
	display: inline-block;
}

.Heading {
	color: white;
	font-weight: bold;
	font-size: 125%;
	text-align: center;
	margin: 15px auto;
}
.footer{
	background-color: white;
	position: fixed;
	bottom:0; 
	width: 100%;
}
.Group button {
  background-color: white;
  border: none;
  padding: 10px 24px;
  cursor: pointer; 
  float: center; 
  width: 15%;
}
.Group button:hover {
  background-color: #c7d7ff;
}

.HeaderButton{
	background-color: white;
	margin-top: 16px;
	margin-bottom: 16px;
	width: 100%;
	z-index: -2;
}

.HeaderButton button {
  background-color: white;
  color: blue;
  margin: 20px;
  padding: 10px 24px; 
  border-color: blue;
  float: center;
  width: 15%; 
}
.Body img{
	width: 100%;
	height: auto;
	margin: 10px;
	z-index: -1;
}
.text1 {
	position: absolute;
	top: 90%;
	color: white;
	left: 5%;
	}
.text2 {
	position: absolute;
	top: 180%;
	color: white;
	left: 5%;
	}
.text3 {
	position: absolute;
	top: 270%;
	color: white;
	left: 5%;
	}
