
.Content img{
	width: 90%;
	height: 250px;
	margin: 20px;
}
.txt1{
	position: absolute;
	top: 30%;
	color: white;
	left: 40%;
}
.txt2{
	position: absolute;
	top: 75%;
	color: white;
	left: 40%;
}
.txt3{
	position: absolute;
	top: 120%;
	color: white;
	left: 40%;
}
.txt4{
	position: absolute;
	top: 160%;
	color: white;
	left: 40%;
}
.txt1 img{
	position: absolute;
	top: -74px;
	width: 150px;
	height: 150px;
	right: 450px;
}
.txt2 img{
	position: absolute;
	top: -40px;
	width: 150px;
	height: 150px;
	right: 490px;
}

.txt3 img{
	position: absolute;
	top: -74px;
	width: 160px;
	height: 160px;
	right: 450px;
}
.txt4 img{
	position: absolute;
	top: -74px;
	width: 160px;
	height: 160px;
	right: 400px;
}