
.MainContent img{
	width: 90%;
	height: auto;
	margin: 15px;
}
.t1 {
	position: absolute;
	top: 60%;
	color: white;
	left: 8%;
}
.t2 {
	position: absolute;
	top: 135%;
	color: white;
	left: 8%;
}

.t3 {
	position: absolute;
	top: 205%;
	color: white;
	left: 8%;
}

.t4 {
	position: absolute;
	top: 280%;
	color: white;
	left: 8%;
}