.bodyMain{
	background-color: whitesmoke;
}
.mainnn img{
	width: 90%;
	height: 150px;
	margin: 30px;
}
.icon1 h5{
	position: absolute;
	left: 40%;
	top: 25%;
}
.icon1 img{
	position: absolute;
	width: 200px;
	top: 10%;
	left: 30px;
}
.icon2 h5{
	position: absolute;
	left: 40%;
	top: 55%;
}
.icon2 img{
	position: absolute;
	width: 200px;
	top: 43%;
	left: 30px;
}
.icon3 h5{
	position: absolute;
	left: 40%;
	top: 89%;
}
.icon3 img{
	position: absolute;
	width: 200px;
	top: 77%;
	left: 30px;
}
.icon4 h5{
	position: absolute;
	left: 40%;
	top: 125%;
}

.icon4 img{
	position: absolute;
	width: 200px;
	top: 110%;
	left: 30px;
}
.icon5 h5{
	position: absolute;
	left: 40%;
	top: 160%;
}
.icon5 img{
	position: absolute;
	width: 200px;
	top: 145%;
	left: 30px;
}
.applynowmodal {
	position: absolute;
	bottom: 0;
	background-color:white;
    height: 50%;
    width: 100%;
}

.modal {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.CancelButton {
	width: 40%;
	background: #020e36;
    color: white;
    height: 12%;
    border: none;
    font-size:16px;
}
.tablist{
	background-color:blue;
}
.heading{
	background-color: blue;
	color: white;
    margin: 20px;
}
.TabHeader{
	background-color: #c7d7ff;
	margin: 10px;
	text-align: center;
}