.row {
	margin: 20px 20px;
  z-index: -5;
  background-color: #f1f1f1
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  margin: 17px;
  text-align: center;
  background-color: white;
}
.column {
  width: 31%;
  padding: 30px;
  flex-direction: row;
  margin-left: 30px;
}
.footer{
	background-color: white;
  transition: 0.25s all;
	width: 100%;
  position: fixed;
  bottom:0; 
box-shadow: 0 8px 28px -2px rgba(107, 114, 130, 0.4), 0 1px 13px 0px rgba(107,114,130,0.1);
}
.Group button {
  background-color: white;
  border: none;
  padding: 10px 24px;
  cursor: pointer; 
  float: center; 
  width: 15%;
}
.Group button:hover {
  background-color: #c7d7ff;
}
.side{
  background: red;
}