.Navbar {
	display: flex;
	flex-direction: row;
	height:60px;
	width: 100%;
	background-color: #00004d;
}
.HeaderIcons{
	width: 25px;
	height: 25px;
	margin: 15px;
	display: inline-block;
}

.Heading {
	color: white;
	font-weight: bold;
	font-size: 125%;
	text-align: center;
	margin: 15px auto;
}