.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .b1 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.container .b1:hover {
  background-color: #4d7bf3;
  color: white;
}
.container .b2 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.container .b2:hover {
  background-color: #4d7bf3;
  color: white;
}
.container .b3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.container .b3:hover {
  background-color: #4d7bf3;
  color: white;
}
.container .b4 {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.container .b4:hover {
  background-color: #4d7bf3;
  color: white;
}
 .Text{
	 position: absolute;
     top: 15%;
     left: 35%;
}
.container .back {
  position: absolute;
  top: 95%;
  left: 40%;
  width: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
}
.container .back:hover {
  background-color: #020e36;
  color: white;
}
.container .next {
  position: absolute;
  top: 95%;
  left: 60%;
  width: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
}
.container .next:hover {
  background-color: #020e36;
  color: white;
}