.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo img{
	position: absolute;
	width: 20%;
	top: 30%;
	left:40%;
}
.container .btn1 {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.container .btn1:hover {
  background-color: #020e36;
  color: white;
}
.container .btn2:hover {
  background-color: #020e36;
  color: white;
}

.container .btn2 {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  .container img{
  	width: 1000;
  	height: 1000;
  }
  .logo img{
	position: absolute;
	width: 60%;
	top: 30%;
	left:60%;
}
  .container .btn1 {
  position: absolute;
  top: 80%;
  left: 85%;
  width: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #020e36;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
  .container .btn2 {
  position: absolute;
  top: 90%;
  left: 85%;
  width: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
}