.container {
  padding: 16px;
  background-color: whitesmoke;
}
input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=password] {
   width: 90%;
  padding: 15px;
  margin: 20px;
  display: inline-block;
  border: none;
  background:white;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.container .button {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #020e36;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.container .button:hover {
  background-color: #020e36;
  color: white;
}
 .Header{
 	position: relative;
 	right: 20%;
 	color:darkblue ;
}
.Header2{
 	position: relative;
 	right: 18%;
 	color:black ;
}